.header{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
}

.enlace{
    background-color: #f9e79f;
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 15px 30px;
}

.enlace:hover{
    background-color: #fbd22a;
}

.nav{
    background-color: #f9e79f;
    background-size: 10px;
    text-decoration: none;
    
    font-size: 35;
}

.mitad-i{
   margin-left: 20px;
}

.mitad-d{
   margin-left: 50px;
}

.piedepag{
    background-color: #f9e79f;
}

@media (max-widht: 600px) {
    nav{
    }
}